# StackName
ECR_STACK_NAME=pxr-ecr
VPC_STACK_NAME=pxr-vpc
RDS_STACK_NAME=pxr-rds
ACM_STACK_NAME=pxr-acm
WEBACL_STACK_NAME=pxr-webacl
DNS_STACK_NAME=pxr-dns

# EKS
CLUSTER_NAME=pxr-eks
NAMESPACE=pxr

# DB
DB_NAME=pxr_db
DB_USER_PASSWORD=your_db_password

# CloudSearch
CLOUD_SEARCH_DOMAIN_NAME=pxr-cs
EXT_NAME=pxrext

# Password
HASH_SALT=hsalt
HASH_STRETCH_COUNT=3

# DNS
DOMAIN=your.domain

# Admin
ADMIN_NAME=admin
ADMIN_PASSWORD=your_admin_password

# catalog
ROOT_EMAIL_ADDRESS=test@example.com
ROOT_TEL_NUMBER=000-0000-0000
ROOT_ADDRESS=東京都千代田区千代田１番
ROOT_INFO_SITE=www.example.com

CATALOG_DESC=パーソナルデータ連携モジュールが提供するデータカタログの説明

CATALOG_PF_DESC_TITLE=プラットフォーム概要
CATALOG_PF_DESC_SUBTITLE=プラットフォーム概要のサブタイトル
CATALOG_PF_DESC_TEXT=プラットフォーム概要のテキスト
CATALOG_REGION_CERT_TITLE=領域運営サービスプロバイダーの認定基準
CATALOG_REGION_CERT_TEXT=領域運営サービスプロバイダー認定基準のテキスト
CATALOG_REGION_AUDIT_TITLE=領域運営サービスプロバイダーの監査手順
CATALOG_REGION_AUDIT_TEXT=領域運営サービスプロバイダーの監査手順のテキスト
CATALOG_APP_CERT_TITLE=アプリケーションプロバイダーの認定基準
CATALOG_APP_CERT_TEXT=アプリケーションプロバイダーの認定基準のテキスト
CATALOG_APP_AUDIT_TITLE=アプリケーションプロバイダーの監査手順
CATALOG_APP_AUDIT_TEXT=アプリケーションプロバイダーの監査手順のテキスト
CATALOG_ORG_TITLE=組織概要
CATALOG_ORG_SUBTITLE=組織概要のサブタイトル
CATALOG_ORG_TEXT=組織概要のテキスト

SETTING_MANAGE_PASSWORD_SIMILARITY_CHECK=true
SETTING_PXR_ID_PREFIX=pxr
SETTING_PXR_ID_SUFFIX=id
SETTING_PXR_ID_PASSWORD_SIMILARITY_CHECK=true
SETTING_IDENTITY_VERIFICATION_EXPIRATION_TYPE=day
SETTING_IDENTITY_VERIFICATION_EXPIRATION_VAL=7
SETTING_PASSWORD_EXPIRATION_TYPE=day
SETTING_PASSWORD_EXPIRATION_VAL=90
SETTING_PASSWORD_GEN_NUM=4
SETTING_SESSION_EXPIRATION_TYPE=hour
SETTING_SESSION_EXPIRATION_VAL=3
SETTING_ACCOUNT_LOCK_NUM=6
SETTING_ACCOUNT_LOCK_RELEASE_TIEM_TYPE=minute
SETTING_ACCOUNT_LOCK_RELEASE_TIME_VAL=30
SETTING_LOGIN_SMS_TEXT="Your code is %s"
SETTING_BOOK_CREATE_SMS_TEXT="%s?ID=%s Your password will be sent in the next message"
SETTING_PERSONAL_DISASSOCIATION=true
SETTING_PERSONAL_TWO_STEP_VERIFICATION=true
SETTING_PERSONAL_SHARE_BASIC_POLICY=false
SETTING_PERSONAL_ACCOUNT_DELETE=false
SETTING_USE_APP_PROV=true
SETTING_USE_SHARE=true
SETTING_REGION_NOTIFICATION_INTERVAL_TYPE=day
SETTING_REGION_NOTIFICATION_INTERVAL_VAL=3
SETTING_PF_NOTIFICATION_INTERVAL_TYPE=day
SETTING_PF_NOTIFICATION_INTERVAL_VAL=3
SETTING_USE_REGION_SERVICE_OPERATION=true
SETTING_MIN_PERIOD_PF_RECONSENT_TYPE=day
SETTING_MIN_PERIOD_PF_RECONSENT_VAL=7
SETTING_MIN_PERIOD_REGION_RECONSENT_TYPE=day
SETTING_MIN_PERIOD_REGION_RECONSENT_VAL=7
SETTING_BOOK_DELETION_PENDING_TERM_TYPE=day
SETTING_BOOK_DELETION_PENDING_TERM_VAL=14
SETTING_DATA_DOWNLOAD_TERM_EXPIRATION_TYPE=day
SETTING_DATA_DOWNLOAD_TERM_EXPIRATION_VAL=14

SETTING_PF_TERMS_TITLE=プラットフォーム利用規約
SETTING_PF_TERMS_SUBTITLE=プラットフォーム利用規約のサブタイトル
SETTING_PF_TERMS_TEXT=プラットフォーム利用規約のテキスト
SETTING_RECONSENT_FLAG=false
SETTING_PERIOD_RECONSENT=null
SETTING_DELETING_DATA_FLAG=true
SETTING_RETURNING_DATA_FLAG=true

